# Dependency directories
vendor/
node_modules/

# Environment and sensitive data
.env
*.local
credentials*.json

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
*.log

